<div class="common-input-default">
    <div class="common-input-default__label">First name</div>
    <input
        type="text"
        class="common-input-default__input"
        ng-model="ctrl.driver.firstName"
        ng-model-options="{updateOn: 'blur'}"
        ng-change="ctrl.updateDriverFirstName()">
</div>

<div class="common-input-default">
    <div class="common-input-default__label">Last name</div>
    <input
        type="text"
        class="common-input-default__input"
        ng-model="ctrl.driver.lastName"
        ng-model-options="{updateOn: 'blur'}"
        ng-change="ctrl.updateDriverLastName()">
</div>

<div class="common-input-default">
    <div class="common-input-default__label">Date of birth</div>
    <input type="text"
           class="common-input-default__input"
           uib-datepicker-popup="yyyy-MM-dd"
           show-button-bar="false"
           ng-model="ctrl.driver.dateOfBirth"
           ng-change="ctrl.updateDriverBirthDate()"
           is-open="popup.opened"
           datepicker-options="dateOptions"
           close-text="Close"
           alt-input-formats="['yyyy/MM/dd']" />
    <span class="common-input-icon">
        <i class="glyphicon glyphicon-calendar" ng-click="ctrl.openPopup()"></i>
    </span>
</div>

<div class="common-btn-group">
    <button
        ng-click="ctrl.updateDriverGender()"
        type="button"
        class="common-btn-group__btn"
        ng-model="ctrl.driver.gender" uib-btn-radio="'M'">
        <span>Male</span>
    </button>
    <button
        ng-click="ctrl.updateDriverGender()"
        type="button"
        class="common-btn-group__btn"
        ng-model="ctrl.driver.gender" uib-btn-radio="'F'">
        <span>Female</span>
    </button>
</div>

<div class="sidebar-container__divider address">
    <div class="sidebar-container__divider__icon">
        <i class="address"></i>
        <div class="sidebar-container__divider__text">Address</div>
    </div>
</div>

<div class="common-input-default">
    <div class="common-input-default__label">Zip code</div>
    <input
        type="text"
        class="common-input-default__input"
        ng-model="ctrl.driver.address.zipCode"
        ng-model-options="{updateOn: 'blur'}"
        ng-change="ctrl.updateAddressZipCode()">
</div>

<div class="common-input-default">
    <div class="common-input-default__label">City</div>
    <input
        type="text"
        class="common-input-default__input"
        ng-model="ctrl.driver.address.city"
        ng-model-options="{updateOn: 'blur'}"
        ng-change="ctrl.updateAddressCity()">
</div>

<div class="common-input-default">
    <div class="common-input-default__label">Street</div>
    <input
        type="text"
        class="common-input-default__input"
        ng-model="ctrl.driver.address.street"
        ng-model-options="{updateOn: 'blur'}"
        ng-change="ctrl.updateAddressStreet()">
</div>