<div class="container">
    <span class="spinner" us-spinner="{radius:30, width:8, length: 16}"></span>
    <div class="main">
        <div class="row">
            <div class="col-md-3">
                <sidebar></sidebar>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <div class="menubar">
                            <div class="logo"></div>
                        </div>
                    </div>
                </div>
                <variants></variants>
            </div>
        </div>


    </div>
</div>

