<div class="sidebar-container" ng-class="{'sidebar-container--hidden': ctrl.sidebarHidden}">
    <div class="sidebar-container__header">
        <div class="sidebar-container__header__hyperon-logo"></div>
        <div class="sidebar-container__header__hyperon-hamburger" ng-click="ctrl.toggleSidebar()">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
    </div>

    <div class="sidebar-container__divider">
        <div class="sidebar-container__divider__icon">
            <i class="fa fa-user" aria-hidden="true"></i>
        </div>
    </div>

    <div class="sidebar-container__widget">
        <driver></driver>
    </div>

    <div class="sidebar-container__divider">
        <div class="sidebar-container__divider__icon">
            <i class="fa fa-car" aria-hidden="true"></i>
        </div>
    </div>

    <div class="sidebar-container__widget">
        <vehicle></vehicle>
    </div>

    <div class="sidebar-container__divider">
        <div class="sidebar-container__divider__icon">
            <i class="fa fa-file" aria-hidden="true"></i>
        </div>
    </div>

    <div class="sidebar-container__widget">
        <driver-history></driver-history>
    </div>
</div>
