<div class="sidebar-container">
    <div class="sidebar-container__header">
        <div class="sidebar-container__header__title">Get a Quote</div>
        <div class="sidebar-container__header__subtitle">fill in the details to get a quote</div>
    </div>

    <div class="sidebar-container__content">
        <div class="sidebar-container__divider">
            <div class="sidebar-container__divider__icon">
                <i class="person"></i>
                <div class="sidebar-container__divider__text">Personal information</div>
            </div>
        </div>

        <div class="sidebar-container__widget">
            <driver></driver>
        </div>

        <div class="sidebar-container__divider">
            <div class="sidebar-container__divider__icon">
                <i class="vehicle"></i>
                <div class="sidebar-container__divider__text">Vehicle</div>
            </div>
        </div>

        <div class="sidebar-container__widget">
            <vehicle></vehicle>
        </div>

        <div class="sidebar-container__divider">
            <div class="sidebar-container__divider__icon">
                <i class="documents"></i>
                <div class="sidebar-container__divider__text">Documents</div>
            </div>
        </div>

        <div class="sidebar-container__widget">
            <driver-history></driver-history>
        </div>

    </div>
</div>
